GEMINI_API_KEY=ADD GEMINI API KEY FROM https://aistudio.google.com/app/apikey
MINDEE_API_KEY=ADD MINDEE API KEY USING THE STEPS AT https://developers.mindee.com/docs/create-api-key
UPLOAD_PATH=ABSOLUTE PATH TO UPLOAD DIRECTORY