.hidden {
  display: none !important;
}

.loading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;

  .loading-spinner {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid $secondary-color;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}