$default-font-size: 16px;
$default-line-height: 1.5;
$default-font-color: #333;
$default-font-family: 'Quicksand', sans-serif;

$primary-color: #2c1666;
$secondary-color: #e1974c;
$success-color: #218b38;
$danger-color: #be2f3e;
$white-color: #fff;
$black-color: #000;
$gray-color: #ccc;